{%extends 'base.html' %}

{%block content %}

      <section class="header">
          <nav>
            <img src="static/img/academic.png"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
              <ul>
                  <li><a href="{{url_for('index') }}">HOME</a></li>
                  <li><a href="{{url_for('about') }}">ABOUT</a></li>
                  <li><a href="{{url_for('tutorpage') }}">SERVICES</a></li>
                  <li><a href="{{url_for('contact') }}">CONTACT</a></li>
                  <li><a href="{{url_for('signin') }}">SIGN UP AS A TUTOR</a></li>

                  <!---<li><a href="{{url_for('tutee') }}">SIGN UP AS A TUTEE</a></li>
                  <li><a href="{{url_for('login') }}">LOG IN</a></li>-->

              </ul>
            </div>
                 <i class="fa fa-bars" onclick="showMenu()"></i>
          </nav>
<div class="text-box">
    <h1> The Academic Medic </h1>
    <p> Your Study Aid </p>
   <a href="{{url_for('about') }}" class="hero-btn">  Visit us to know more </a>
</div>
      </section>

<!--------Level of Academic------->

<section class="course">
    <h2> WHAT WE OFFER </h2>
    <p1> The Academic Medic offers various services that ensures quality experience for all the students and tutees. </p1>

    <div class="row">
        <div class="course-col">
            <h4> Elementary-Based Tutoring </h4>
            <p style="text-align: justify"> </p>
            <p> Students from kindergarten to sixth grade undergo fundamental changes in elementary school as they are introduced to new subjects and learning experiences. Here at Academic Medic, we provide them with the instruments they need to meet these challenges and give them the motivation, confidence and skills to succeed both inside and outside the school. </p>
        </div>
        <div class="course-col">
            <h4> High School-Based Tutoring </h4>
            <p style="text-align: justify"> </p>
            <p> The Academic Medic is committed to training high school students to be college-ready; From Languages, Literature, Communication, Mathematics, Philosophy, Natural Sciences, and Social Sciences, your study aid is at your service. </p>
        </div>
        <div class="course-col">
            <h4> College-Based Tutoring </h4>
            <p style="text-align: justify"> </p>
            <p> With the pandemic limiting face-to-face interaction, universities turned to new online peer tutoring pathways. However, students are still coping and are facing difficulties in learning. In Academic Medic, we help students to achieve their goals and be the best version of themselves. </p>
        </div>
    </div>
</section>

<!----------- developer ---------->

<section class="campus">
    <h5> MEET THE TEAM </h5>
    <p2>  “Alone we can do so little, together we can do so much.” - Helen Keller <br> </p2>
    <p3>We've had an amazing journey coming to where we are today.<br> We're a team that constantly trying to get better and better for our clients. Meet the captains of the ship: </p3>

    <div class="row">
    <div class="campus-col">
        <img src="static/img/developers.png">
        <div class="layer">
        </div>
        </div>
    </div>
</section>


<!----------- testimonials ------------->

<section class="testimonials">
    <h6> WHAT OUR CLIENTS SAY? </h6>
    <p5> We pride ourselves on offering exceptional services to our clients, <br> but you don’t just have to take our word for it. Read what our clients have to say about working with us.  </p5>

    <div class="row">
        <div class="testimonials-col">
        <img src="static/img/mark.png">
            <div>
            <p4> Academic Medic is very crucial with the needs of the individuals and offers top notch benefits not just for the students but for the tutors as well. </p4> <br>
            <h7>    Ma. Kristine Tamayo </h7> <br>
                <p5> Tutor </p5> <br>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
            </div>
        </div>
         <div class="testimonials-col">
            <img src="static/img/momo.png">
            <div>

            <p4> I'm impressed with Academic Medic and the efficiency of it now that we're in an online learning environment. I am particularly happy with my tutor who is excellent, smart and an all around pleasure to work with. </p4> <br>

            <h7> Imoan Batayola </h7> <br>
                <p5> Tutee </p5> <br>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
            </div>
        </div>

    </div>
</section>

<!---------- Call To Action --------------->

<section class="cta">
      <h8> Enroll in our services anywhere you are </h8> <br> <br>
      <a href="{{url_for('contact') }}" class="hero-btn">CONTACT US</a>
</section>

<!------------ Call To Action --------------->

<section class="footer">
      <h9> About Us </h9> <br> <br>
      <p5> As we shift to online learning, students are facing unprecedented challenges. <br>We aim to connect the educators and learners in achieving academic and professional goals. </p5>
    <div class="icons">
    <i class="fa fa-facebook"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-instagram"></i>
    <i class="fa fa-linkedin"></i>
    </div>
</section>


<!--------JavaScript for Toggle Menu------->
<script>

    var navLinks = document.getElementById("navLinks");

    function showMenu(){
        navLinks.style.right = "0";
    }
    function hideMenu(){
        navLinks.style.right = "-200px";
    }
      </script>

{% endblock %}
